<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kingwe.mapper.GoodsphotoMapper">
  <resultMap id="BaseResultMap" type="top.kingwe.domain.Goodsphoto">
    <!--@mbg.generated-->
    <!--@Table goodsphoto-->
    <id column="image_id" jdbcType="VARCHAR" property="imageId" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    image_id, goods_id, image_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from goodsphoto
    where image_id = #{imageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from goodsphoto
    where image_id = #{imageId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.kingwe.domain.Goodsphoto">
    <!--@mbg.generated-->
    insert into goodsphoto (image_id, goods_id, image_url
      )
    values (#{imageId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="top.kingwe.domain.Goodsphoto">
    <!--@mbg.generated-->
    insert into goodsphoto
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imageId != null">
        image_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imageId != null">
        #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.kingwe.domain.Goodsphoto">
    <!--@mbg.generated-->
    update goodsphoto
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where image_id = #{imageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.kingwe.domain.Goodsphoto">
    <!--@mbg.generated-->
    update goodsphoto
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR}
    where image_id = #{imageId,jdbcType=VARCHAR}
  </update>


<!--auto generated by MybatisCodeHelper on 2020-11-23-->
  <select id="selectAllByGoodsId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from goodsphoto
    where goods_id=#{goodsId,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-11-24-->
  <delete id="deleteByGoodsId">
        delete from goodsphoto
        where goods_id=#{goodsId,jdbcType=VARCHAR}
    </delete>
</mapper>