<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kingwe.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="top.kingwe.domain.Orders">
    <!--@mbg.generated-->
    <!--@Table orders-->
    <id column="orders_id" jdbcType="VARCHAR" property="ordersId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="orders_status" jdbcType="INTEGER" property="ordersStatus" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="pay_id" jdbcType="INTEGER" property="payId" />
    <result column="admin_status" jdbcType="INTEGER" property="adminStatus" />
    <result column="time" jdbcType="VARCHAR" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    orders_id, user_id, goods_id, orders_status, price, pay_id, admin_status, `time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from orders
    where orders_id = #{ordersId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from orders
    where orders_id = #{ordersId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.kingwe.domain.Orders">
    <!--@mbg.generated-->
    insert into orders (orders_id, user_id, goods_id, 
      orders_status, price, pay_id, 
      admin_status, `time`)
    values (#{ordersId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{goodsId,jdbcType=VARCHAR}, 
      #{ordersStatus,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{payId,jdbcType=INTEGER}, 
      #{adminStatus,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.kingwe.domain.Orders">
    <!--@mbg.generated-->
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ordersId != null">
        orders_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="ordersStatus != null">
        orders_status,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="payId != null">
        pay_id,
      </if>
      <if test="adminStatus != null">
        admin_status,
      </if>
      <if test="time != null">
        `time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ordersId != null">
        #{ordersId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="ordersStatus != null">
        #{ordersStatus,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="payId != null">
        #{payId,jdbcType=INTEGER},
      </if>
      <if test="adminStatus != null">
        #{adminStatus,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.kingwe.domain.Orders">
    <!--@mbg.generated-->
    update orders
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="ordersStatus != null">
        orders_status = #{ordersStatus,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="payId != null">
        pay_id = #{payId,jdbcType=INTEGER},
      </if>
      <if test="adminStatus != null">
        admin_status = #{adminStatus,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where orders_id = #{ordersId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.kingwe.domain.Orders">
    <!--@mbg.generated-->
    update orders
    set user_id = #{userId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=VARCHAR},
      orders_status = #{ordersStatus,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      pay_id = #{payId,jdbcType=INTEGER},
      admin_status = #{adminStatus,jdbcType=INTEGER},
      `time` = #{time,jdbcType=VARCHAR}
    where orders_id = #{ordersId,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-11-24-->
  <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from orders
        where user_id=#{userId,jdbcType=INTEGER}
    </select>
</mapper>